# HOTEL BOOKING DEMAND ANALYSIS

## DOMAIN:
HOSPITALITY & TOURISM ANALYTICS

## OBJECTIVE OF THE PROJECT

The main goal of this project is to analyze hotel booking data to understand:

What factors affect booking cancellations

Guest booking patterns

Seasonal trends

Customer behavior

How hotels can reduce cancellations and improve revenue


This analysis helps hotels make better decisions in marketing, pricing, staffing, and inventory management.

## ABOUT THE DATASET

#### ✅ Source URL

#### https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand

#### ✅Rows:
~85,500 bookings

#### ✅Columns:
32 features

#### ✅Data From Years:
2015 – 2017

#### ✅Hotels included:

City Hotel

Resort Hotel




#### The dataset contains detailed information such as:

Booking dates

Stay duration

Number of guests

Meal type

Market segment (online, travel agents, direct, etc.)

Deposit type

ADR (Average Daily Rate)

Whether the customer cancelled or not

## DATA LOADING AND INITIAL OVERVIEW

### Import required libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load the dataset

In [ ]:
df = pd.read_csv("HOTEL BOOKINGS DATASET FOR PROJECT.csv")

### View the shape of the dataset

This shows the total number of rows and columns in the dataset

In [ ]:
df.shape

(85597, 32)

### Display first 5 rows

This helps you quickly understand the structure of the dataset and how values are stored

In [ ]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015

### Check data types of each column

This shows which columns are integers, floats, or objects (strings), Missing values count, Memory usage

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85597 entries, 0 to 85596
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           85597 non-null  object
 1   is_canceled                     85597 non-null  int64
 2   lead_time                       85597 non-null  int64
 3   arrival_date_year               85597 non-null  int64
 4   arrival_date_month              85597 non-null  object
 5   arrival_date_week_number        85597 non-null  int64
 6   arrival_date_day_of_month       85597 non-null  int64
 7   stays_in_weekend_nights         85597 non-null  int64
 8   stays_in_week_nights            85597 non-null  int64
 9   adults                          85597 non-null  int64
 10  children                        85593 non-null  float64
 11  babies                          85597 non-null  int64
 12  meal                            85597 non-null  object
 13  country                         85110 non-null  object
 14  market_segment                  85597 non-null  object
 15  distribution_channel            85597 non-null  object
 16  is_repeated_guest               85597 non-null  int64
 17  previous_cancellations          85597 non-null  int64
 18  previous_bookings_not_canceled  85597 non-null  int64
 19  reserved_room_type              85597 non-null  object
 20  assigned_room_type              85597 non-null  object
 21  booking_changes                 85597 non-null  int64
 22  deposit_type                    85597 non-null  object
 23  agent                           72633 non-null  float64
 24  company                         5133 non-null   float64
 25  days_in_waiting_list            85597 non-null  int64
 26  customer_type                   85597 non-null  object
 27  adr                             85597 non-null  float64
 28  required_car_parking_spaces     85597 non-null  int64
 29  total_of_special_requests       85597 non-null  int64
 30  reservation_status              85597 non-null  object
 31  reservation_status_date         85597 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 20.9+ MB

### Summary statistics

This gives basic statistical summaries like: Mean, Median, Standard deviation, Min/max and Unique values for categorical data.It helps identify outliers and unusual patterns early

In [ ]:
df.describe(include='all')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
count,85597,85597.000000,85597.000000,85597.000000,85597,85597.000000,85597.000000,85597.000000,85597.000000,85597.000000,...,85597,72633.000000,5133.000000,85597.000000,85597,85597.000000,85597.000000,85597.000000,85597,85597
unique,2,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,4,NaN,NaN,NaN,3,926
top,City Hotel,NaN,NaN,NaN,August,NaN,NaN,NaN,NaN,NaN,...,No Deposit,NaN,NaN,NaN,Transient,NaN,NaN,NaN,Canceled,10/21/2015
freq,45537,NaN,NaN,NaN,9803,NaN,NaN,NaN,NaN,NaN,...,70859,NaN,NaN,NaN,63351,NaN,NaN,NaN,42975,1461
mean,NaN,0.515953,109.859586,2016.034931,NaN,27.538488,15.706345,0.968363,2.636085,1.850953,...,NaN,109.992662,186.664913,2.950466,NaN,97.304385,0.070458,0.467353,NaN,NaN
std,NaN,0.499748,111.329765,0.740025,NaN,13.986958,8.787501,1.044739,2.049997,0.595190,...,NaN,117.973836,132.959831,19.964940,NaN,53.326963,0.259725,0.743321,NaN,NaN
min,NaN,0.000000,0.000000,2015.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,1.000000,6.000000,0.000000,NaN,-6.380000,0.000000,0.000000,NaN,NaN
25%,NaN,0.000000,19.000000,2015.000000,NaN,16.000000,8.000000,0.000000,1.000000,2.000000,...,NaN,9.000000,62.000000,0.000000,NaN,62.800000,0.000000,0.000000,NaN,NaN
50%,NaN,1.000000,73.000000,2016.000000,NaN,28.000000,16.000000,1.000000,2.000000,2.000000,...,NaN,34.000000,178.000000,0.000000,NaN,88.000000,0.000000,0.000000,NaN,NaN
75%,NaN,1.000000,170.000000,2017.000000,NaN,39.000000,23.000000,2.000000,3.000000,2.000000,...,NaN,240.000000,274.000000,0.000000,NaN,120.000000,0.000000,1.000000,NaN,NaN
max,NaN,1.000000,737.000000,2017.000000,NaN,53.000000,31.000000,19.000000,50.000000,55.000000,...,NaN,535.000000,543.000000,391.000000,NaN,5400.000000,8.000000,5.000000,NaN,NaN

## DATA PRE-PROCESSING (CLEANING)

### ✅Handling Missing Values

#### Check missing values:

In [ ]:
df.isnull().sum().sort_values(ascending=False)

company                           80464
agent                             12964
country                             487
children                              4
arrival_date_month                    0
arrival_date_week_number              0
hotel                                 0
is_canceled                           0
stays_in_weekend_nights               0
arrival_date_day_of_month             0
adults                                0
stays_in_week_nights                  0
babies                                0
meal                                  0
lead_time                             0
arrival_date_year                     0
distribution_channel                  0
market_segment                        0
previous_bookings_not_canceled        0
is_repeated_guest                     0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
previous_cancellations                0
deposit_type                          0
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

#### Fill missing children values with 0

In [ ]:
df["children"] = df["children"].fillna(0)

#### Fill agent and company with 0 (since they are ID numbers)

In [ ]:
df["agent"] = df["agent"].fillna(0)
df["company"] = df["company"].fillna(0)

#### Fill country with 'Unknown'

In [ ]:
df["country"] = df["country"].fillna("Unknown")

### ✅Remove Duplicates

Duplicates can affect statistics, correlations, and visualizations.Removing them ensures accuracy.

In [ ]:
df.drop_duplicates(inplace=True)

### ✅Convert data types

Dates must be converted to datetime type for: time-series analysis, extracting month/year, visualizations.

##### Convert date columns:

In [ ]:
df["reservation_status_date"] = pd.to_datetime(df["reservation_status_date"])

##### Create a full arrival date:

In [ ]:
df["arrival_date"] = pd.to_datetime(
    df["arrival_date_year"].astype(str) + "-" +
    df["arrival_date_month"] + "-" +
    df["arrival_date_day_of_month"].astype(str)
)

### ✅ Create New Derived Columns

These new columns help analyze hotel trends like: seasonal demand, room occupancy, pricing changes, cancellation patterns.

#### Total nights stayed

In [ ]:
df["total_nights"] = df["stays_in_weekend_nights"] + df["stays_in_week_nights"]

#### Total number of guests

In [ ]:
df["total_guests"] = df["adults"] + df["children"] + df["babies"]

#### Arrival month & year

In [ ]:
df["arrival_month"] = df["arrival_date"].dt.month
df["arrival_year"] = df["arrival_date"].dt.year
df["arrival_month_name"] = df["arrival_date"].dt.month_name()

### ✅ Final Check After Cleaning

Ensures no remaining unwanted missing values.

In [ ]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
arrival_date                      0
total_nights                      0
total_guests                      0
arrival_month                     0
arrival_year                      0
arrival_month_name                0
dtype: int64